<?xml version="1.0" standalone="no" ?>

<world gridSize="10,10,10" windowSize="1800,900">
	
	<blockList color="0,255,0" size="1,1,1" blockSize="40,40,41" >
		
		
		<block position="4,5,3"/>
		<block position="4,5,4"/>
		<block position="4,5,5"/>
		<block position="4,5,6"/>
		<block position="5,5,3"/>
		<block position="5,5,4"/>
		<block position="5,5,5"/>
		<block position="5,5,6"/>
		<block position="6,5,3"/>
		<block position="6,5,4"/>
		<block position="6,5,5"/>
		<block position="6,5,6"/>
                <block position="4,6,3"/>
                <block position="4,6,4"/>
                <block position="4,6,5"/>
                <block position="4,6,6"/>
                <block position="5,6,3"/>
                <block position="5,6,4"/>
                <block position="5,6,5"/>
                <block position="5,6,6"/>
                <block position="6,6,3"/>
                <block position="6,6,4"/>
                <block position="6,6,5"/>
                <block position="6,6,6"/>
                <block position="4,7,3"/>
                <block position="4,7,4"/>
                <block position="4,7,5"/>
                <block position="4,7,6"/>
                <block position="5,7,3"/>
                <block position="5,7,4"/>
                <block position="5,7,5"/>
                <block position="5,7,6"/>
                <block position="6,7,3"/>
                <block position="6,7,4"/>
                <block position="6,7,5"/>
                <block position="6,7,6"/>
                <block position="4,8,3"/>
                <block position="4,8,4"/>
                <block position="4,8,5"/>
                <block position="4,8,6"/>
                <block position="5,8,3"/>
                <block position="5,8,4"/>
                <block position="5,8,5"/>
                <block position="5,8,6"/>
                <block position="6,8,3"/>
                <block position="6,8,4"/>
                <block position="6,8,5"/>
                <block position="6,8,6"/>
 

 
 

	</blockList>
</world>


