<?xml version="1.0" standalone="no" ?>
<world gridSize="11,1,10">
	<camera target="5,1,0" directionSpherical="0,30,18" angle="45"/>
	<spotlight target="5,1,5" directionSpherical="-45,40,50" angle="30"/>

	<blockList color="0,255,0" blocksize="1,5,1">
		<block position="1,0,8" color="255,255,64"/>
		<block position="9,0,8" color="255,64,64"/>
		<block position="1,0,7"/>
		<block position="2,0,7"/>
		<block position="3,0,7"/>
		<block position="4,0,7"/>
		<block position="9,0,7"/>
		<block position="1,0,6"/>
		<block position="4,0,6"/>
		<block position="6,0,6"/>
		<block position="7,0,6"/>
		<block position="8,0,6"/>
		<block position="9,0,6"/>
		<block position="1,0,5"/>
		<block position="4,0,5"/>
		<block position="7,0,5"/>
		<block position="9,0,5"/>
		<block position="1,0,4"/>
		<block position="3,0,4"/>
		<block position="4,0,4"/>
		<block position="5,0,4"/>
		<block position="6,0,4"/>
		<block position="7,0,4"/>
		<block position="9,0,4"/>
		<block position="1,0,3"/>
		<block position="9,0,3"/>
		<block position="1,0,2"/>
		<block position="2,0,2"/>
		<block position="3,0,2"/>
		<block position="4,0,2"/>
		<block position="5,0,2"/>
		<block position="6,0,2"/>
		<block position="7,0,2"/>
		<block position="8,0,2"/>
		<block position="9,0,2"/>
		<block position="9,0,1"/>
	</blockList>
</world>



