<?xml version="1.0" standalone="no" ?>
<parameters Ntotal="100"/>
<world gridSize="7,8,2" windowSize="1800,900">
	<camera target="160.04,169.852,2.23776" directionSpherical="76.7763,51.6654,400" angle="45" near="1" far="1500" />
	<spotlight target="200,20,200" directionSpherical="45,60,500" angle="40"/>
	<blockList color="0,255,0" >
		<block position="0,0,0" Nants="1" kind="nest" color="0,0,255"/>
		<block position="0,1,0"  />
		<block position="0,2,0"  />
		<block position="0,3,0"  />
		<block position="1,3,0"  />
		<block position="1,5,0"  />
		<block position="2,5,0"  />
		<block position="2,6,0"  />
		<block position="3,6,0"  />
		<block position="4,6,0"  />
		<block position="3,7,0" />
		<block position="4,5,0"  />
		<block position="5,5,0"  />
		<block position="5,3,0"  />
		<block position="6,2,0"  />
		<block position="6,1,0"  />
		<block position="6,0,0" kind="food" color="255,0,0"/>
		<block position="2,3,0"  />
		<block position="3,3,0"  />
		<block position="4,3,0"  />
		<block position="1,4,0"  />
		<block position="5,4,0"  />
		<block position="5,2,0"  />
	</blockList>
</world>


