<?xml version="1.0" standalone="no" ?>
<!-- -->
<vs>
    <visuals>
        <window size="1800x900" backgroundColor="0xffffff" gradientColor="0x00ffff"/>
        <render shadows="true" grid="true"/>
    </visuals>
    <world gridSize="5,5,2">
        <camera target="100,100,0" thetaPhiDist="20,60,300" fov="50" near="20" far="1200"/>
        <spotlight target="100,100,50" thetaPhiDist="80,34,500" fov="25" show="0" near="350" far="800"/>
        <blockList color="128,128,128">
            <block position="1,1,0"/>
            <block position="2,1,0" leader="true" color="255,255,0"/>
            <block position="3,1,0"/>
            <block position="4,1,0"/>
            <block position="2,2,0"/>
            <block position="4,2,0"/>
            <block position="2,3,0"/>
            <block position="3,3,0"/>
            <block position="4,3,0"/>
        </blockList>
    </world>
</vs>
