<?xml version="1.0" standalone="no" ?>
<world gridSize="26,26,26" windowSize="1024,800">
    <camera target="54.5554,56.3875,22.0596" directionSpherical="-2561.64,33.8501,220" angle="45.000000" near="0.100000" far="2000.000000" />
    <spotlight target="0,0,0" directionSpherical="135,80,800" angle="43.152390" />
    <blockList blockSize="10,10,10">
        <block position="5,4,2" color="0,255,255" orientation="0" />
        <block position="4,4,2" color="0,255,255" orientation="0" />
        <block position="3,4,2" color="0,255,255" orientation="0" />
        <block position="6,4,2" color="0,255,255" orientation="0" />
        <block position="7,4,2" color="0,255,255" orientation="0" />
        <block position="2,4,2" color="0,255,255" orientation="0" />
        <block position="1,4,2" color="0,255,255" orientation="0" />
        <block position="0,4,2" color="0,255,255" orientation="0" />
    </blockList>
</world>
