<?xml version="1.0" standalone="no" ?>
<world gridSize="10,10,10">
	<camera target="200,200,200" directionSpherical="0,70,400" angle="45"/>
	<spotlight target="200,20,200" directionSpherical="45,60,500" angle="40"/>
	
	<blockList color="128,255,128" size="1,1,1" blockSize="40,40,41">

		<block position="5,5,5"/>
		<block position="6,5,5" color="128,0,0"/>
		<block position="5,5,6" color="0,0,128"/>
		<block position="5,6,5" color="0,128,0"/>

	</blockList>
</world>


