<?xml version="1.0" standalone="no" ?>

<world gridSize="10,10,10" windowSize="1800,900">
	<camera target="50,50,50" directionSpherical="0,70,100" angle="45" far="500"/>
	<spotlight target="50,20,0" directionSpherical="45,60,200" angle="40"/>

	<blockList color="0,255,0" size="1,1,1" blocksize="10,10,10" >

		<block position="5,5,5"/>
		<block position="5,5,6"/>
		<block position="5,5,7"/>
	<!-- Petite croix: -->
		<block position="4,5,6"/>
		<block position="6,5,6"/>
	<!-- Grande Croix: -->
		<block position="5,5,8"/>
		<block position="5,5,9"/>
		<block position="3,5,7"/>
		<block position="4,5,7"/>
		<block position="6,5,7"/>
		<block position="7,5,7"/>
	<!-- Back	-->
		<block position="5,6,5"/>
		<block position="5,7,5"/>
		<block position="5,8,5"/>

	</blockList>
</world>


