<?xml version="1.0" standalone="no" ?>
<world gridSize="40,40">
	<camera target="500,500,0" directionSpherical="0,50,800" angle="60" near="1.0" far="2000.0" />
	<spotlight target="500,500,0" directionSpherical="-45,80,900" angle="40"/>
	
	<blockList color="128,128,128" blocksize="25.0,25.0,11.0">
		<block position="1,1" color="0,128,128"/>
		<block position="2,1"/>
		<block position="3,1"/>
		<block position="4,1"/>
		<block position="5,1"/>
		<block position="6,1"/>
		<block position="7,1"/>
		<block position="8,1"/>
		<block position="9,1"/>
		<block position="10,1"/>
		<block position="11,1"/>
		<block position="12,1"/>
		<block position="13,1"/>
		<block position="14,1"/>
		<block position="15,1"/>
		<block position="16,1"/>
		<block position="17,1"/>
		<block position="18,1"/>
		<block position="19,1"/>
		<block position="20,1"/>
		<block position="21,1"/>
		<block position="22,1"/>
		<block position="23,1"/>
		<block position="24,1"/>
		<block position="25,1"/>
		<block position="26,1"/>
		<block position="27,1"/>
		<block position="28,1"/>
		<block position="29,1"/>
		<block position="30,1"/>
		<block position="31,1"/>
		<block position="32,1"/>
		<block position="33,1"/>
		<block position="34,1"/>
		<block position="35,1"/>
		<block position="36,1"/>
		<block position="37,1"/>
		<block position="38,1"/>
		<block position="1,2"/>
		<block position="2,2"/>
		<block position="3,2"/>
		<block position="4,2"/>
		<block position="5,2"/>
		<block position="6,2"/>
		<block position="7,2"/>
		<block position="8,2"/>
		<block position="9,2"/>
		<block position="10,2"/>
		<block position="11,2"/>
		<block position="12,2"/>
		<block position="13,2"/>
		<block position="14,2"/>
		<block position="15,2"/>
		<block position="16,2"/>
		<block position="17,2"/>
		<block position="18,2"/>
		<block position="19,2"/>
		<block position="20,2"/>
		<block position="21,2"/>
		<block position="22,2"/>
		<block position="23,2"/>
		<block position="24,2"/>
		<block position="25,2"/>
		<block position="26,2"/>
		<block position="27,2"/>
		<block position="28,2"/>
		<block position="29,2"/>
		<block position="30,2"/>
		<block position="31,2"/>
		<block position="32,2"/>
		<block position="33,2"/>
		<block position="34,2"/>
		<block position="35,2"/>
		<block position="36,2"/>
		<block position="37,2"/>
		<block position="38,2"/>
		<block position="1,3"/>
		<block position="2,3"/>
		<block position="3,3"/>
		<block position="4,3"/>
		<block position="5,3"/>
		<block position="6,3"/>
		<block position="7,3"/>
		<block position="8,3"/>
		<block position="9,3"/>
		<block position="10,3"/>
		<block position="11,3"/>
		<block position="12,3"/>
		<block position="13,3"/>
		<block position="14,3"/>
		<block position="15,3"/>
		<block position="16,3"/>
		<block position="17,3"/>
		<block position="18,3"/>
		<block position="19,3"/>
		<block position="20,3"/>
		<block position="21,3"/>
		<block position="22,3"/>
		<block position="23,3"/>
		<block position="24,3"/>
		<block position="25,3"/>
		<block position="26,3"/>
		<block position="27,3"/>
		<block position="28,3"/>
		<block position="29,3"/>
		<block position="30,3"/>
		<block position="31,3"/>
		<block position="32,3"/>
		<block position="33,3"/>
		<block position="34,3"/>
		<block position="35,3"/>
		<block position="36,3"/>
		<block position="37,3"/>
		<block position="38,3"/>
		<block position="1,4"/>
		<block position="2,4"/>
		<block position="3,4"/>
		<block position="4,4"/>
		<block position="5,4"/>
		<block position="6,4"/>
		<block position="7,4"/>
		<block position="8,4"/>
		<block position="9,4"/>
		<block position="10,4"/>
		<block position="11,4"/>
		<block position="12,4"/>
		<block position="13,4"/>
		<block position="14,4"/>
		<block position="15,4"/>
		<block position="16,4"/>
		<block position="17,4"/>
		<block position="18,4"/>
		<block position="19,4"/>
		<block position="20,4"/>
		<block position="21,4"/>
		<block position="22,4"/>
		<block position="23,4"/>
		<block position="24,4"/>
		<block position="25,4"/>
		<block position="26,4"/>
		<block position="27,4"/>
		<block position="28,4"/>
		<block position="29,4"/>
		<block position="30,4"/>
		<block position="31,4"/>
		<block position="32,4"/>
		<block position="33,4"/>
		<block position="34,4"/>
		<block position="35,4"/>
		<block position="36,4"/>
		<block position="37,4"/>
		<block position="38,4"/>
		<block position="1,5"/>
		<block position="2,5"/>
		<block position="3,5"/>
		<block position="4,5"/>
		<block position="5,5"/>
		<block position="6,5"/>
		<block position="7,5"/>
		<block position="8,5"/>
		<block position="9,5"/>
		<block position="10,5"/>
		<block position="11,5"/>
		<block position="12,5"/>
		<block position="13,5"/>
		<block position="14,5"/>
		<block position="15,5"/>
		<block position="16,5"/>
		<block position="17,5"/>
		<block position="18,5"/>
		<block position="19,5"/>
		<block position="20,5"/>
		<block position="21,5"/>
		<block position="22,5"/>
		<block position="23,5"/>
		<block position="24,5"/>
		<block position="25,5"/>
		<block position="26,5"/>
		<block position="27,5"/>
		<block position="28,5"/>
		<block position="29,5"/>
		<block position="30,5"/>
		<block position="31,5"/>
		<block position="32,5"/>
		<block position="33,5"/>
		<block position="34,5"/>
		<block position="35,5"/>
		<block position="36,5"/>
		<block position="37,5"/>
		<block position="38,5"/>
		<block position="1,6"/>
		<block position="2,6"/>
		<block position="3,6"/>
		<block position="4,6"/>
		<block position="5,6"/>
		<block position="6,6"/>
		<block position="7,6"/>
		<block position="8,6"/>
		<block position="9,6"/>
		<block position="10,6"/>
		<block position="11,6"/>
		<block position="12,6"/>
		<block position="13,6"/>
		<block position="14,6"/>
		<block position="15,6"/>
		<block position="16,6"/>
		<block position="17,6"/>
		<block position="18,6"/>
		<block position="19,6"/>
		<block position="20,6"/>
		<block position="21,6"/>
		<block position="22,6"/>
		<block position="23,6"/>
		<block position="24,6"/>
		<block position="25,6"/>
		<block position="26,6"/>
		<block position="27,6"/>
		<block position="28,6"/>
		<block position="29,6"/>
		<block position="30,6"/>
		<block position="31,6"/>
		<block position="32,6"/>
		<block position="33,6"/>
		<block position="34,6"/>
		<block position="35,6"/>
		<block position="36,6"/>
		<block position="37,6"/>
		<block position="38,6"/>
		<block position="1,7"/>
		<block position="2,7"/>
		<block position="3,7"/>
		<block position="4,7"/>
		<block position="5,7"/>
		<block position="6,7"/>
		<block position="7,7"/>
		<block position="8,7"/>
		<block position="9,7"/>
		<block position="10,7"/>
		<block position="11,7"/>
		<block position="12,7"/>
		<block position="13,7"/>
		<block position="14,7"/>
		<block position="15,7"/>
		<block position="16,7"/>
		<block position="17,7"/>
		<block position="18,7"/>
		<block position="19,7"/>
		<block position="20,7"/>
		<block position="21,7"/>
		<block position="22,7"/>
		<block position="23,7"/>
		<block position="24,7"/>
		<block position="25,7"/>
		<block position="26,7"/>
		<block position="27,7"/>
		<block position="28,7"/>
		<block position="29,7"/>
		<block position="30,7"/>
		<block position="31,7"/>
		<block position="32,7"/>
		<block position="33,7"/>
		<block position="34,7"/>
		<block position="35,7"/>
		<block position="36,7"/>
		<block position="37,7"/>
		<block position="38,7"/>
		<block position="1,8"/>
		<block position="2,8"/>
		<block position="3,8"/>
		<block position="4,8"/>
		<block position="5,8"/>
		<block position="6,8"/>
		<block position="7,8"/>
		<block position="8,8"/>
		<block position="9,8"/>
		<block position="10,8"/>
		<block position="11,8"/>
		<block position="12,8"/>
		<block position="13,8"/>
		<block position="14,8"/>
		<block position="15,8"/>
		<block position="16,8"/>
		<block position="17,8"/>
		<block position="18,8"/>
		<block position="19,8"/>
		<block position="20,8"/>
		<block position="21,8"/>
		<block position="22,8"/>
		<block position="23,8"/>
		<block position="24,8"/>
		<block position="25,8"/>
		<block position="26,8"/>
		<block position="27,8"/>
		<block position="28,8"/>
		<block position="29,8"/>
		<block position="30,8"/>
		<block position="31,8"/>
		<block position="32,8"/>
		<block position="33,8"/>
		<block position="34,8"/>
		<block position="35,8"/>
		<block position="36,8"/>
		<block position="37,8"/>
		<block position="38,8"/>
		<block position="1,9"/>
		<block position="2,9"/>
		<block position="3,9"/>
		<block position="4,9"/>
		<block position="5,9"/>
		<block position="6,9"/>
		<block position="7,9"/>
		<block position="8,9"/>
		<block position="9,9"/>
		<block position="10,9"/>
		<block position="11,9"/>
		<block position="12,9"/>
		<block position="13,9"/>
		<block position="14,9"/>
		<block position="15,9"/>
		<block position="16,9"/>
		<block position="17,9"/>
		<block position="18,9"/>
		<block position="19,9"/>
		<block position="20,9"/>
		<block position="21,9"/>
		<block position="22,9"/>
		<block position="23,9"/>
		<block position="24,9"/>
		<block position="25,9"/>
		<block position="26,9"/>
		<block position="27,9"/>
		<block position="28,9"/>
		<block position="29,9"/>
		<block position="30,9"/>
		<block position="31,9"/>
		<block position="32,9"/>
		<block position="33,9"/>
		<block position="34,9"/>
		<block position="35,9"/>
		<block position="36,9"/>
		<block position="37,9"/>
		<block position="38,9"/>
		<block position="1,10"/>
		<block position="2,10"/>
		<block position="3,10"/>
		<block position="4,10"/>
		<block position="5,10"/>
		<block position="6,10"/>
		<block position="7,10"/>
		<block position="8,10"/>
		<block position="9,10"/>
		<block position="10,10"/>
		<block position="11,10"/>
		<block position="12,10"/>
		<block position="13,10"/>
		<block position="14,10"/>
		<block position="15,10"/>
		<block position="16,10"/>
		<block position="17,10"/>
		<block position="18,10"/>
		<block position="19,10"/>
		<block position="20,10"/>
		<block position="21,10"/>
		<block position="22,10"/>
		<block position="23,10"/>
		<block position="24,10"/>
		<block position="25,10"/>
		<block position="26,10"/>
		<block position="27,10"/>
		<block position="28,10"/>
		<block position="29,10"/>
		<block position="30,10"/>
		<block position="31,10"/>
		<block position="32,10"/>
		<block position="33,10"/>
		<block position="34,10"/>
		<block position="35,10"/>
		<block position="36,10"/>
		<block position="37,10"/>
		<block position="38,10"/>
		<block position="1,11"/>
		<block position="2,11"/>
		<block position="3,11"/>
		<block position="4,11"/>
		<block position="5,11"/>
		<block position="6,11"/>
		<block position="7,11"/>
		<block position="8,11"/>
		<block position="9,11"/>
		<block position="10,11"/>
		<block position="11,11"/>
		<block position="12,11"/>
		<block position="13,11"/>
		<block position="14,11"/>
		<block position="15,11"/>
		<block position="16,11"/>
		<block position="17,11"/>
		<block position="18,11"/>
		<block position="19,11"/>
		<block position="20,11"/>
		<block position="21,11"/>
		<block position="22,11"/>
		<block position="23,11"/>
		<block position="24,11"/>
		<block position="25,11"/>
		<block position="26,11"/>
		<block position="27,11"/>
		<block position="28,11"/>
		<block position="29,11"/>
		<block position="30,11"/>
		<block position="31,11"/>
		<block position="32,11"/>
		<block position="33,11"/>
		<block position="34,11"/>
		<block position="35,11"/>
		<block position="36,11"/>
		<block position="37,11"/>
		<block position="38,11"/>
		<block position="1,12"/>
		<block position="2,12"/>
		<block position="3,12"/>
		<block position="4,12"/>
		<block position="5,12"/>
		<block position="6,12"/>
		<block position="7,12"/>
		<block position="8,12"/>
		<block position="9,12"/>
		<block position="10,12"/>
		<block position="11,12"/>
		<block position="12,12"/>
		<block position="13,12"/>
		<block position="14,12"/>
		<block position="15,12"/>
		<block position="16,12"/>
		<block position="17,12"/>
		<block position="18,12"/>
		<block position="19,12"/>
		<block position="20,12"/>
		<block position="21,12"/>
		<block position="22,12"/>
		<block position="23,12"/>
		<block position="24,12"/>
		<block position="25,12"/>
		<block position="26,12"/>
		<block position="27,12"/>
		<block position="28,12"/>
		<block position="29,12"/>
		<block position="30,12"/>
		<block position="31,12"/>
		<block position="32,12"/>
		<block position="33,12"/>
		<block position="34,12"/>
		<block position="35,12"/>
		<block position="36,12"/>
		<block position="37,12"/>
		<block position="38,12"/>
		<block position="1,13"/>
		<block position="2,13"/>
		<block position="3,13"/>
		<block position="4,13"/>
		<block position="5,13"/>
		<block position="6,13"/>
		<block position="7,13"/>
		<block position="8,13"/>
		<block position="9,13"/>
		<block position="10,13"/>
		<block position="11,13"/>
		<block position="12,13"/>
		<block position="13,13"/>
		<block position="14,13"/>
		<block position="15,13"/>
		<block position="16,13"/>
		<block position="17,13"/>
		<block position="18,13"/>
		<block position="19,13"/>
		<block position="20,13"/>
		<block position="21,13"/>
		<block position="22,13"/>
		<block position="23,13"/>
		<block position="24,13"/>
		<block position="25,13"/>
		<block position="26,13"/>
		<block position="27,13"/>
		<block position="28,13"/>
		<block position="29,13"/>
		<block position="30,13"/>
		<block position="31,13"/>
		<block position="32,13"/>
		<block position="33,13"/>
		<block position="34,13"/>
		<block position="35,13"/>
		<block position="36,13"/>
		<block position="37,13"/>
		<block position="38,13"/>
		<block position="1,14"/>
		<block position="2,14"/>
		<block position="3,14"/>
		<block position="4,14"/>
		<block position="5,14"/>
		<block position="6,14"/>
		<block position="7,14"/>
		<block position="8,14"/>
		<block position="9,14"/>
		<block position="10,14"/>
		<block position="11,14"/>
		<block position="12,14"/>
		<block position="13,14"/>
		<block position="14,14"/>
		<block position="15,14"/>
		<block position="16,14"/>
		<block position="17,14"/>
		<block position="18,14"/>
		<block position="19,14"/>
		<block position="20,14"/>
		<block position="21,14"/>
		<block position="22,14"/>
		<block position="23,14"/>
		<block position="24,14"/>
		<block position="25,14"/>
		<block position="26,14"/>
		<block position="27,14"/>
		<block position="28,14"/>
		<block position="29,14"/>
		<block position="30,14"/>
		<block position="31,14"/>
		<block position="32,14"/>
		<block position="33,14"/>
		<block position="34,14"/>
		<block position="35,14"/>
		<block position="36,14"/>
		<block position="37,14"/>
		<block position="38,14"/>
		<block position="1,15"/>
		<block position="2,15"/>
		<block position="3,15"/>
		<block position="4,15"/>
		<block position="5,15"/>
		<block position="6,15"/>
		<block position="7,15"/>
		<block position="8,15"/>
		<block position="9,15"/>
		<block position="10,15"/>
		<block position="11,15"/>
		<block position="12,15"/>
		<block position="13,15"/>
		<block position="14,15"/>
		<block position="15,15"/>
		<block position="16,15"/>
		<block position="17,15"/>
		<block position="18,15"/>
		<block position="19,15"/>
		<block position="20,15"/>
		<block position="21,15"/>
		<block position="22,15"/>
		<block position="23,15"/>
		<block position="24,15"/>
		<block position="25,15"/>
		<block position="26,15"/>
		<block position="27,15"/>
		<block position="28,15"/>
		<block position="29,15"/>
		<block position="30,15"/>
		<block position="31,15"/>
		<block position="32,15"/>
		<block position="33,15"/>
		<block position="34,15"/>
		<block position="35,15"/>
		<block position="36,15"/>
		<block position="37,15"/>
		<block position="38,15"/>
		<block position="1,16"/>
		<block position="2,16"/>
		<block position="3,16"/>
		<block position="4,16"/>
		<block position="5,16"/>
		<block position="6,16"/>
		<block position="7,16"/>
		<block position="8,16"/>
		<block position="9,16"/>
		<block position="10,16"/>
		<block position="11,16"/>
		<block position="12,16"/>
		<block position="13,16"/>
		<block position="14,16"/>
		<block position="15,16"/>
		<block position="16,16"/>
		<block position="17,16"/>
		<block position="18,16"/>
		<block position="19,16"/>
		<block position="20,16"/>
		<block position="21,16"/>
		<block position="22,16"/>
		<block position="23,16"/>
		<block position="24,16"/>
		<block position="25,16"/>
		<block position="26,16"/>
		<block position="27,16"/>
		<block position="28,16"/>
		<block position="29,16"/>
		<block position="30,16"/>
		<block position="31,16"/>
		<block position="32,16"/>
		<block position="33,16"/>
		<block position="34,16"/>
		<block position="35,16"/>
		<block position="36,16"/>
		<block position="37,16"/>
		<block position="38,16"/>
		<block position="1,17"/>
		<block position="2,17"/>
		<block position="3,17"/>
		<block position="4,17"/>
		<block position="5,17"/>
		<block position="6,17"/>
		<block position="7,17"/>
		<block position="8,17"/>
		<block position="9,17"/>
		<block position="10,17"/>
		<block position="11,17"/>
		<block position="12,17"/>
		<block position="13,17"/>
		<block position="14,17"/>
		<block position="15,17"/>
		<block position="16,17"/>
		<block position="17,17"/>
		<block position="18,17"/>
		<block position="19,17"/>
		<block position="20,17"/>
		<block position="21,17"/>
		<block position="22,17"/>
		<block position="23,17"/>
		<block position="24,17"/>
		<block position="25,17"/>
		<block position="26,17"/>
		<block position="27,17"/>
		<block position="28,17"/>
		<block position="29,17"/>
		<block position="30,17"/>
		<block position="31,17"/>
		<block position="32,17"/>
		<block position="33,17"/>
		<block position="34,17"/>
		<block position="35,17"/>
		<block position="36,17"/>
		<block position="37,17"/>
		<block position="38,17"/>
		<block position="1,18"/>
		<block position="2,18"/>
		<block position="3,18"/>
		<block position="4,18"/>
		<block position="5,18"/>
		<block position="6,18"/>
		<block position="7,18"/>
		<block position="8,18"/>
		<block position="9,18"/>
		<block position="10,18"/>
		<block position="11,18"/>
		<block position="12,18"/>
		<block position="13,18"/>
		<block position="14,18"/>
		<block position="15,18"/>
		<block position="16,18"/>
		<block position="17,18"/>
		<block position="18,18"/>
		<block position="19,18"/>
		<block position="20,18"/>
		<block position="21,18"/>
		<block position="22,18"/>
		<block position="23,18"/>
		<block position="24,18"/>
		<block position="25,18"/>
		<block position="26,18"/>
		<block position="27,18"/>
		<block position="28,18"/>
		<block position="29,18"/>
		<block position="30,18"/>
		<block position="31,18"/>
		<block position="32,18"/>
		<block position="33,18"/>
		<block position="34,18"/>
		<block position="35,18"/>
		<block position="36,18"/>
		<block position="37,18"/>
		<block position="38,18"/>
		<block position="1,19"/>
		<block position="2,19"/>
		<block position="3,19"/>
		<block position="4,19"/>
		<block position="5,19"/>
		<block position="6,19"/>
		<block position="7,19"/>
		<block position="8,19"/>
		<block position="9,19"/>
		<block position="10,19"/>
		<block position="11,19"/>
		<block position="12,19"/>
		<block position="13,19"/>
		<block position="14,19"/>
		<block position="15,19"/>
		<block position="16,19"/>
		<block position="17,19"/>
		<block position="18,19"/>
		<block position="19,19"/>
		<block position="20,19"/>
		<block position="21,19"/>
		<block position="22,19"/>
		<block position="23,19"/>
		<block position="24,19"/>
		<block position="25,19"/>
		<block position="26,19"/>
		<block position="27,19"/>
		<block position="28,19"/>
		<block position="29,19"/>
		<block position="30,19"/>
		<block position="31,19"/>
		<block position="32,19"/>
		<block position="33,19"/>
		<block position="34,19"/>
		<block position="35,19"/>
		<block position="36,19"/>
		<block position="37,19"/>
		<block position="38,19"/>
		
				<block position="1,20"/>
		<block position="2,20"/>
		<block position="3,20"/>
		<block position="4,20"/>
		<block position="5,20"/>
		<block position="6,20"/>
		<block position="7,20"/>
		<block position="8,20"/>
		<block position="9,20"/>
		<block position="10,20"/>
		<block position="11,20"/>
		<block position="12,20"/>
		<block position="13,20"/>
		<block position="14,20"/>
		<block position="15,20"/>
		<block position="16,20"/>
		<block position="17,20"/>
		<block position="18,20"/>
		<block position="19,20"/>
		<block position="20,20"/>
		<block position="21,20"/>
		<block position="22,20"/>
		<block position="23,20"/>
		<block position="24,20"/>
		<block position="25,20"/>
		<block position="26,20"/>
		<block position="27,20"/>
		<block position="28,20"/>
		<block position="29,20"/>
		<block position="30,20"/>
		<block position="31,20"/>
		<block position="32,20"/>
		<block position="33,20"/>
		<block position="34,20"/>
		<block position="35,20"/>
		<block position="36,20"/>
		<block position="37,20"/>
		<block position="38,20"/>
		<block position="1,21"/>
		<block position="2,21"/>
		<block position="3,21"/>
		<block position="4,21"/>
		<block position="5,21"/>
		<block position="6,21"/>
		<block position="7,21"/>
		<block position="8,21"/>
		<block position="9,21"/>
		<block position="10,21"/>
		<block position="11,21"/>
		<block position="12,21"/>
		<block position="13,21"/>
		<block position="14,21"/>
		<block position="15,21"/>
		<block position="16,21"/>
		<block position="17,21"/>
		<block position="18,21"/>
		<block position="19,21"/>
		<block position="20,21"/>
		<block position="21,21"/>
		<block position="22,21"/>
		<block position="23,21"/>
		<block position="24,21"/>
		<block position="25,21"/>
		<block position="26,21"/>
		<block position="27,21"/>
		<block position="28,21"/>
		<block position="29,21"/>
		<block position="30,21"/>
		<block position="31,21"/>
		<block position="32,21"/>
		<block position="33,21"/>
		<block position="34,21"/>
		<block position="35,21"/>
		<block position="36,21"/>
		<block position="37,21"/>
		<block position="38,21"/>
		<block position="1,22"/>
		<block position="2,22"/>
		<block position="3,22"/>
		<block position="4,22"/>
		<block position="5,22"/>
		<block position="6,22"/>
		<block position="7,22"/>
		<block position="8,22"/>
		<block position="9,22"/>
		<block position="10,22"/>
		<block position="11,22"/>
		<block position="12,22"/>
		<block position="13,22"/>
		<block position="14,22"/>
		<block position="15,22"/>
		<block position="16,22"/>
		<block position="17,22"/>
		<block position="18,22"/>
		<block position="19,22"/>
		<block position="20,22"/>
		<block position="21,22"/>
		<block position="22,22"/>
		<block position="23,22"/>
		<block position="24,22"/>
		<block position="25,22"/>
		<block position="26,22"/>
		<block position="27,22"/>
		<block position="28,22"/>
		<block position="29,22"/>
		<block position="30,22"/>
		<block position="31,22"/>
		<block position="32,22"/>
		<block position="33,22"/>
		<block position="34,22"/>
		<block position="35,22"/>
		<block position="36,22"/>
		<block position="37,22"/>
		<block position="38,22"/>
		<block position="1,23"/>
		<block position="2,23"/>
		<block position="3,23"/>
		<block position="4,23"/>
		<block position="5,23"/>
		<block position="6,23"/>
		<block position="7,23"/>
		<block position="8,23"/>
		<block position="9,23"/>
		<block position="10,23"/>
		<block position="11,23"/>
		<block position="12,23"/>
		<block position="13,23"/>
		<block position="14,23"/>
		<block position="15,23"/>
		<block position="16,23"/>
		<block position="17,23"/>
		<block position="18,23"/>
		<block position="19,23"/>
		<block position="20,23"/>
		<block position="21,23"/>
		<block position="22,23"/>
		<block position="23,23"/>
		<block position="24,23"/>
		<block position="25,23"/>
		<block position="26,23"/>
		<block position="27,23"/>
		<block position="28,23"/>
		<block position="29,23"/>
		<block position="30,23"/>
		<block position="31,23"/>
		<block position="32,23"/>
		<block position="33,23"/>
		<block position="34,23"/>
		<block position="35,23"/>
		<block position="36,23"/>
		<block position="37,23"/>
		<block position="38,23"/>
		<block position="1,24"/>
		<block position="2,24"/>
		<block position="3,24"/>
		<block position="4,24"/>
		<block position="5,24"/>
		<block position="6,24"/>
		<block position="7,24"/>
		<block position="8,24"/>
		<block position="9,24"/>
		<block position="10,24"/>
		<block position="11,24"/>
		<block position="12,24"/>
		<block position="13,24"/>
		<block position="14,24"/>
		<block position="15,24"/>
		<block position="16,24"/>
		<block position="17,24"/>
		<block position="18,24"/>
		<block position="19,24"/>
		<block position="20,24"/>
		<block position="21,24"/>
		<block position="22,24"/>
		<block position="23,24"/>
		<block position="24,24"/>
		<block position="25,24"/>
		<block position="26,24"/>
		<block position="27,24"/>
		<block position="28,24"/>
		<block position="29,24"/>
		<block position="30,24"/>
		<block position="31,24"/>
		<block position="32,24"/>
		<block position="33,24"/>
		<block position="34,24"/>
		<block position="35,24"/>
		<block position="36,24"/>
		<block position="37,24"/>
		<block position="38,24"/>
		<block position="1,25"/>
		<block position="2,25"/>
		<block position="3,25"/>
		<block position="4,25"/>
		<block position="5,25"/>
		<block position="6,25"/>
		<block position="7,25"/>
		<block position="8,25"/>
		<block position="9,25"/>
		<block position="10,25"/>
		<block position="11,25"/>
		<block position="12,25"/>
		<block position="13,25"/>
		<block position="14,25"/>
		<block position="15,25"/>
		<block position="16,25"/>
		<block position="17,25"/>
		<block position="18,25"/>
		<block position="19,25"/>
		<block position="20,25"/>
		<block position="21,25"/>
		<block position="22,25"/>
		<block position="23,25"/>
		<block position="24,25"/>
		<block position="25,25"/>
		<block position="26,25"/>
		<block position="27,25"/>
		<block position="28,25"/>
		<block position="29,25"/>
		<block position="30,25"/>
		<block position="31,25"/>
		<block position="32,25"/>
		<block position="33,25"/>
		<block position="34,25"/>
		<block position="35,25"/>
		<block position="36,25"/>
		<block position="37,25"/>
		<block position="38,25"/>
		<block position="1,26"/>
		<block position="2,26"/>
		<block position="3,26"/>
		<block position="4,26"/>
		<block position="5,26"/>
		<block position="6,26"/>
		<block position="7,26"/>
		<block position="8,26"/>
		<block position="9,26"/>
		<block position="10,26"/>
		<block position="11,26"/>
		<block position="12,26"/>
		<block position="13,26"/>
		<block position="14,26"/>
		<block position="15,26"/>
		<block position="16,26"/>
		<block position="17,26"/>
		<block position="18,26"/>
		<block position="19,26"/>
		<block position="20,26"/>
		<block position="21,26"/>
		<block position="22,26"/>
		<block position="23,26"/>
		<block position="24,26"/>
		<block position="25,26"/>
		<block position="26,26"/>
		<block position="27,26"/>
		<block position="28,26"/>
		<block position="29,26"/>
		<block position="30,26"/>
		<block position="31,26"/>
		<block position="32,26"/>
		<block position="33,26"/>
		<block position="34,26"/>
		<block position="35,26"/>
		<block position="36,26"/>
		<block position="37,26"/>
		<block position="38,26"/>
		<block position="1,27"/>
		<block position="2,27"/>
		<block position="3,27"/>
		<block position="4,27"/>
		<block position="5,27"/>
		<block position="6,27"/>
		<block position="7,27"/>
		<block position="8,27"/>
		<block position="9,27"/>
		<block position="10,27"/>
		<block position="11,27"/>
		<block position="12,27"/>
		<block position="13,27"/>
		<block position="14,27"/>
		<block position="15,27"/>
		<block position="16,27"/>
		<block position="17,27"/>
		<block position="18,27"/>
		<block position="19,27"/>
		<block position="20,27"/>
		<block position="21,27"/>
		<block position="22,27"/>
		<block position="23,27"/>
		<block position="24,27"/>
		<block position="25,27"/>
		<block position="26,27"/>
		<block position="27,27"/>
		<block position="28,27"/>
		<block position="29,27"/>
		<block position="30,27"/>
		<block position="31,27"/>
		<block position="32,27"/>
		<block position="33,27"/>
		<block position="34,27"/>
		<block position="35,27"/>
		<block position="36,27"/>
		<block position="37,27"/>
		<block position="38,27"/>
		<block position="1,28"/>
		<block position="2,28"/>
		<block position="3,28"/>
		<block position="4,28"/>
		<block position="5,28"/>
		<block position="6,28"/>
		<block position="7,28"/>
		<block position="8,28"/>
		<block position="9,28"/>
		<block position="10,28"/>
		<block position="11,28"/>
		<block position="12,28"/>
		<block position="13,28"/>
		<block position="14,28"/>
		<block position="15,28"/>
		<block position="16,28"/>
		<block position="17,28"/>
		<block position="18,28"/>
		<block position="19,28"/>
		<block position="20,28"/>
		<block position="21,28"/>
		<block position="22,28"/>
		<block position="23,28"/>
		<block position="24,28"/>
		<block position="25,28"/>
		<block position="26,28"/>
		<block position="27,28"/>
		<block position="28,28"/>
		<block position="29,28"/>
		<block position="30,28"/>
		<block position="31,28"/>
		<block position="32,28"/>
		<block position="33,28"/>
		<block position="34,28"/>
		<block position="35,28"/>
		<block position="36,28"/>
		<block position="37,28"/>
		<block position="38,28"/>
		<block position="1,29"/>
		<block position="2,29"/>
		<block position="3,29"/>
		<block position="4,29"/>
		<block position="5,29"/>
		<block position="6,29"/>
		<block position="7,29"/>
		<block position="8,29"/>
		<block position="9,29"/>
		<block position="10,29"/>
		<block position="11,29"/>
		<block position="12,29"/>
		<block position="13,29"/>
		<block position="14,29"/>
		<block position="15,29"/>
		<block position="16,29"/>
		<block position="17,29"/>
		<block position="18,29"/>
		<block position="19,29"/>
		<block position="20,29"/>
		<block position="21,29"/>
		<block position="22,29"/>
		<block position="23,29"/>
		<block position="24,29"/>
		<block position="25,29"/>
		<block position="26,29"/>
		<block position="27,29"/>
		<block position="28,29"/>
		<block position="29,29"/>
		<block position="30,29"/>
		<block position="31,29"/>
		<block position="32,29"/>
		<block position="33,29"/>
		<block position="34,29"/>
		<block position="35,29"/>
		<block position="36,29"/>
		<block position="37,29"/>
		<block position="38,29"/>
		
				<block position="1,30"/>
		<block position="2,30"/>
		<block position="3,30"/>
		<block position="4,30"/>
		<block position="5,30"/>
		<block position="6,30"/>
		<block position="7,30"/>
		<block position="8,30"/>
		<block position="9,30"/>
		<block position="10,30"/>
		<block position="11,30"/>
		<block position="12,30"/>
		<block position="13,30"/>
		<block position="14,30"/>
		<block position="15,30"/>
		<block position="16,30"/>
		<block position="17,30"/>
		<block position="18,30"/>
		<block position="19,30"/>
		<block position="20,30"/>
		<block position="21,30"/>
		<block position="22,30"/>
		<block position="23,30"/>
		<block position="24,30"/>
		<block position="25,30"/>
		<block position="26,30"/>
		<block position="27,30"/>
		<block position="28,30"/>
		<block position="29,30"/>
		<block position="30,30"/>
		<block position="31,30"/>
		<block position="32,30"/>
		<block position="33,30"/>
		<block position="34,30"/>
		<block position="35,30"/>
		<block position="36,30"/>
		<block position="37,30"/>
		<block position="38,30"/>
		<block position="1,31"/>
		<block position="2,31"/>
		<block position="3,31"/>
		<block position="4,31"/>
		<block position="5,31"/>
		<block position="6,31"/>
		<block position="7,31"/>
		<block position="8,31"/>
		<block position="9,31"/>
		<block position="10,31"/>
		<block position="11,31"/>
		<block position="12,31"/>
		<block position="13,31"/>
		<block position="14,31"/>
		<block position="15,31"/>
		<block position="16,31"/>
		<block position="17,31"/>
		<block position="18,31"/>
		<block position="19,31"/>
		<block position="20,31"/>
		<block position="21,31"/>
		<block position="22,31"/>
		<block position="23,31"/>
		<block position="24,31"/>
		<block position="25,31"/>
		<block position="26,31"/>
		<block position="27,31"/>
		<block position="28,31"/>
		<block position="29,31"/>
		<block position="30,31"/>
		<block position="31,31"/>
		<block position="32,31"/>
		<block position="33,31"/>
		<block position="34,31"/>
		<block position="35,31"/>
		<block position="36,31"/>
		<block position="37,31"/>
		<block position="38,31"/>
		<block position="1,32"/>
		<block position="2,32"/>
		<block position="3,32"/>
		<block position="4,32"/>
		<block position="5,32"/>
		<block position="6,32"/>
		<block position="7,32"/>
		<block position="8,32"/>
		<block position="9,32"/>
		<block position="10,32"/>
		<block position="11,32"/>
		<block position="12,32"/>
		<block position="13,32"/>
		<block position="14,32"/>
		<block position="15,32"/>
		<block position="16,32"/>
		<block position="17,32"/>
		<block position="18,32"/>
		<block position="19,32"/>
		<block position="20,32"/>
		<block position="21,32"/>
		<block position="22,32"/>
		<block position="23,32"/>
		<block position="24,32"/>
		<block position="25,32"/>
		<block position="26,32"/>
		<block position="27,32"/>
		<block position="28,32"/>
		<block position="29,32"/>
		<block position="30,32"/>
		<block position="31,32"/>
		<block position="32,32"/>
		<block position="33,32"/>
		<block position="34,32"/>
		<block position="35,32"/>
		<block position="36,32"/>
		<block position="37,32"/>
		<block position="38,32"/>
		<block position="1,33"/>
		<block position="2,33"/>
		<block position="3,33"/>
		<block position="4,33"/>
		<block position="5,33"/>
		<block position="6,33"/>
		<block position="7,33"/>
		<block position="8,33"/>
		<block position="9,33"/>
		<block position="10,33"/>
		<block position="11,33"/>
		<block position="12,33"/>
		<block position="13,33"/>
		<block position="14,33"/>
		<block position="15,33"/>
		<block position="16,33"/>
		<block position="17,33"/>
		<block position="18,33"/>
		<block position="19,33"/>
		<block position="20,33"/>
		<block position="21,33"/>
		<block position="22,33"/>
		<block position="23,33"/>
		<block position="24,33"/>
		<block position="25,33"/>
		<block position="26,33"/>
		<block position="27,33"/>
		<block position="28,33"/>
		<block position="29,33"/>
		<block position="30,33"/>
		<block position="31,33"/>
		<block position="32,33"/>
		<block position="33,33"/>
		<block position="34,33"/>
		<block position="35,33"/>
		<block position="36,33"/>
		<block position="37,33"/>
		<block position="38,33"/>
		<block position="1,34"/>
		<block position="2,34"/>
		<block position="3,34"/>
		<block position="4,34"/>
		<block position="5,34"/>
		<block position="6,34"/>
		<block position="7,34"/>
		<block position="8,34"/>
		<block position="9,34"/>
		<block position="10,34"/>
		<block position="11,34"/>
		<block position="12,34"/>
		<block position="13,34"/>
		<block position="14,34"/>
		<block position="15,34"/>
		<block position="16,34"/>
		<block position="17,34"/>
		<block position="18,34"/>
		<block position="19,34"/>
		<block position="20,34"/>
		<block position="21,34"/>
		<block position="22,34"/>
		<block position="23,34"/>
		<block position="24,34"/>
		<block position="25,34"/>
		<block position="26,34"/>
		<block position="27,34"/>
		<block position="28,34"/>
		<block position="29,34"/>
		<block position="30,34"/>
		<block position="31,34"/>
		<block position="32,34"/>
		<block position="33,34"/>
		<block position="34,34"/>
		<block position="35,34"/>
		<block position="36,34"/>
		<block position="37,34"/>
		<block position="38,34"/>
		<block position="1,35"/>
		<block position="2,35"/>
		<block position="3,35"/>
		<block position="4,35"/>
		<block position="5,35"/>
		<block position="6,35"/>
		<block position="7,35"/>
		<block position="8,35"/>
		<block position="9,35"/>
		<block position="10,35"/>
		<block position="11,35"/>
		<block position="12,35"/>
		<block position="13,35"/>
		<block position="14,35"/>
		<block position="15,35"/>
		<block position="16,35"/>
		<block position="17,35"/>
		<block position="18,35"/>
		<block position="19,35"/>
		<block position="20,35"/>
		<block position="21,35"/>
		<block position="22,35"/>
		<block position="23,35"/>
		<block position="24,35"/>
		<block position="25,35"/>
		<block position="26,35"/>
		<block position="27,35"/>
		<block position="28,35"/>
		<block position="29,35"/>
		<block position="30,35"/>
		<block position="31,35"/>
		<block position="32,35"/>
		<block position="33,35"/>
		<block position="34,35"/>
		<block position="35,35"/>
		<block position="36,35"/>
		<block position="37,35"/>
		<block position="38,35"/>
		<block position="1,36"/>
		<block position="2,36"/>
		<block position="3,36"/>
		<block position="4,36"/>
		<block position="5,36"/>
		<block position="6,36"/>
		<block position="7,36"/>
		<block position="8,36"/>
		<block position="9,36"/>
		<block position="10,36"/>
		<block position="11,36"/>
		<block position="12,36"/>
		<block position="13,36"/>
		<block position="14,36"/>
		<block position="15,36"/>
		<block position="16,36"/>
		<block position="17,36"/>
		<block position="18,36"/>
		<block position="19,36"/>
		<block position="20,36"/>
		<block position="21,36"/>
		<block position="22,36"/>
		<block position="23,36"/>
		<block position="24,36"/>
		<block position="25,36"/>
		<block position="26,36"/>
		<block position="27,36"/>
		<block position="28,36"/>
		<block position="29,36"/>
		<block position="30,36"/>
		<block position="31,36"/>
		<block position="32,36"/>
		<block position="33,36"/>
		<block position="34,36"/>
		<block position="35,36"/>
		<block position="36,36"/>
		<block position="37,36"/>
		<block position="38,36"/>
		<block position="1,37"/>
		<block position="2,37"/>
		<block position="3,37"/>
		<block position="4,37"/>
		<block position="5,37"/>
		<block position="6,37"/>
		<block position="7,37"/>
		<block position="8,37"/>
		<block position="9,37"/>
		<block position="10,37"/>
		<block position="11,37"/>
		<block position="12,37"/>
		<block position="13,37"/>
		<block position="14,37"/>
		<block position="15,37"/>
		<block position="16,37"/>
		<block position="17,37"/>
		<block position="18,37"/>
		<block position="19,37"/>
		<block position="20,37"/>
		<block position="21,37"/>
		<block position="22,37"/>
		<block position="23,37"/>
		<block position="24,37"/>
		<block position="25,37"/>
		<block position="26,37"/>
		<block position="27,37"/>
		<block position="28,37"/>
		<block position="29,37"/>
		<block position="30,37"/>
		<block position="31,37"/>
		<block position="32,37"/>
		<block position="33,37"/>
		<block position="34,37"/>
		<block position="35,37"/>
		<block position="36,37"/>
		<block position="37,37"/>
		<block position="38,37"/>
		<block position="1,38"/>
		<block position="2,38"/>
		<block position="3,38"/>
		<block position="4,38"/>
		<block position="5,38"/>
		<block position="6,38"/>
		<block position="7,38"/>
		<block position="8,38"/>
		<block position="9,38"/>
		<block position="10,38"/>
		<block position="11,38"/>
		<block position="12,38"/>
		<block position="13,38"/>
		<block position="14,38"/>
		<block position="15,38"/>
		<block position="16,38"/>
		<block position="17,38"/>
		<block position="18,38"/>
		<block position="19,38"/>
		<block position="20,38"/>
		<block position="21,38"/>
		<block position="22,38"/>
		<block position="23,38"/>
		<block position="24,38"/>
		<block position="25,38"/>
		<block position="26,38"/>
		<block position="27,38"/>
		<block position="28,38"/>
		<block position="29,38"/>
		<block position="30,38"/>
		<block position="31,38"/>
		<block position="32,38"/>
		<block position="33,38"/>
		<block position="34,38"/>
		<block position="35,38"/>
		<block position="36,38"/>
		<block position="37,38"/>
		<block position="38,38"/>

	</blockList>
</world>


