<?xml version="1.0" standalone="no" ?>
<world gridSize="15,15,6" windowSize="1280,720" >
	<camera target="41.4196,26.8882,15.9999" directionSpherical="-22.9183,30,100" angle="30.000000" near="1.000000" far="300.000000" />

	<blockList color="128,128,128" blockSize="10,10,10">
		<block position="2,2,0" orientation="0" color="128,128,64"/>
		<block position="3,2,0" orientation="0" color="128,128,64"/>
		<block position="4,2,0" orientation="0" color="128,128,64"/>
		<block position="5,2,0" orientation="0" color="128,128,64"/>
		<block position="6,2,0" orientation="0" color="128,128,64"/>
		<block position="7,2,0" orientation="0" color="128,128,64"/>
		<block position="2,3,0" orientation="0" color="128,128,64"/>
		<block position="3,3,0" orientation="0" color="128,128,64"/>
		<block position="4,3,0" orientation="0" color="128,128,64"/>
		<block position="5,3,0" orientation="0" color="128,128,64"/>
		<block position="6,3,0" orientation="0" color="128,128,64"/>
		<block position="7,3,0" orientation="0" color="128,128,64"/>
		<block position="2,4,0" orientation="0" color="128,128,64"/>
		<block position="3,4,0" orientation="0" color="128,128,64"/>
		<block position="4,4,0" orientation="0" color="128,128,64"/>
		<block position="5,4,0" orientation="0" color="128,128,64"/>
		<block position="6,4,0" orientation="0" color="128,128,64"/>
		<block position="7,4,0" orientation="0" color="128,128,64"/>
		<block position="2,5,0" orientation="0" color="128,128,64"/>
		<block position="3,5,0" orientation="0" color="128,128,64"/>
		<block position="4,5,0" orientation="0" color="128,128,64"/>
		<block position="5,5,0" orientation="0" color="128,128,64"/>
		<block position="6,5,0" orientation="0" color="128,128,64"/>
		<block position="7,5,0" orientation="0" color="128,128,64"/>
		<block position="2,2,1" color="128,128,64" orientation="0" />
		<block position="3,2,1" color="128,128,64" orientation="0" />
		<block position="4,2,1" color="128,128,64" orientation="0" />
		<block position="5,2,1" color="128,128,64" orientation="0" />
		<block position="6,2,1" color="128,128,64" orientation="0" />
		<block position="7,2,1" color="128,128,64" orientation="0" />
		<block position="2,3,1" color="128,128,64" orientation="0" />
		<block position="3,3,1" color="128,128,64" orientation="0" />
		<block position="4,3,1" color="128,128,64" orientation="0" />
		<block position="5,3,1" color="128,128,64" orientation="0" />
		<block position="6,3,1" color="128,128,64" orientation="0" />
		<block position="7,3,1" color="128,128,64" orientation="0" />
		<block position="2,4,1" color="128,128,64" orientation="0" />
		<block position="3,4,1" color="128,128,64" orientation="0" />
		<block position="4,4,1" color="128,128,64" orientation="0" />
		<block position="5,4,1" color="128,128,64" orientation="0" />
		<block position="6,4,1" color="128,128,64" orientation="0" />
		<block position="7,4,1" color="128,128,64" orientation="0" />
		<block position="2,5,1" color="128,128,64" orientation="0" />
		<block position="3,5,1" color="128,128,64" orientation="0" />
		<block position="4,5,1" color="128,128,64" orientation="0" />
		<block position="5,5,1" color="128,128,64" orientation="0" />
		<block position="6,5,1" color="128,128,64" orientation="0" />
		<block position="7,5,1" color="128,128,64" orientation="0" />
		<block position="2,2,2" orientation="0" color="128,128,64"/>
		<block position="3,2,2" orientation="0" color="128,128,64"/>
		<block position="4,2,2" orientation="0" color="128,128,64"/>
		<block position="5,2,2" orientation="0" color="128,128,64"/>
		<block position="6,2,2" orientation="0" color="128,128,64"/>
		<block position="7,2,2" orientation="0" color="128,128,64"/>
		<block position="2,3,2" orientation="0" color="128,128,64"/>
		<block position="3,3,2" orientation="0" color="128,128,64"/>
		<block position="4,3,2" orientation="0" color="128,128,64"/>
		<block position="5,3,2" orientation="0" color="128,128,64"/>
		<block position="6,3,2" orientation="0" color="128,128,64"/>
		<block position="7,3,2" orientation="0" color="128,128,64"/>
		<block position="2,4,2" orientation="0" color="128,128,64"/>
		<block position="3,4,2" orientation="0" color="128,128,64"/>
		<block position="4,4,2" orientation="0" color="128,128,64"/>
		<block position="5,4,2" orientation="0" color="128,128,64"/>
		<block position="6,4,2" orientation="0" color="128,128,64"/>
		<block position="7,4,2" orientation="0" color="128,128,64"/>
		<block position="2,5,2" orientation="0" color="128,128,64"/>
		<block position="3,5,2" orientation="0" color="128,128,64"/>
		<block position="4,5,2" orientation="0" color="128,128,64"/>
		<block position="5,5,2" orientation="0" color="128,128,64"/>
		<block position="6,5,2" orientation="0" color="128,128,64"/>
		<block position="7,5,2" orientation="0" color="128,128,64"/>
	</blockList>

	</world>
